<template>
    <div>
        <h1>Orders</h1>

        <h3>List of Orders</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>User Id</th>
                    <th>Tracking Id</th>
                    <th>Name</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in orders">
                    <td>{{ item.userId }}</td>
                    <td>{{ item.trackingId }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.street }}</td>
                    <td>{{ item.city }}</td>
                    <td>{{ item.state }}</td>
                    <td>{{ item.zipCode }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</template>

<script src="./orders.ts"></script>